/.DS_Store

/NYSchools.Rproj
.Rproj.user

/.Rhistory

/Data/2012SRC20140227.mdb
/Data/SRC2012.zip

/2011-12NYSReportCardRevisionsFAQ20140312.doc
/Data/2011-12NYSReportCardRevisionsFAQ20140312.doc

/Data/2013ELAandMathDistrictandBuildingAggregatesCountyMediaVs2003.mdb

/Read Me.doc
